html, body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#MMUGreenMap-project{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

#left-panel{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 0px 10px;
}

#left-panel-header{
    width: 100%;
    height: 10%;
    background-color: rgb(47, 68, 88);
    display: flex;
    align-items: center;
}

#header-text{
    margin-left: 2rem;
    color: white;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}

#right-panel{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-header{
    margin: 2rem 0 0.4rem 0.4rem;
}

#button-area{
    display: grid;
    grid-template-columns: auto auto;
}

.landmark-btns{
    margin: 0rem 0.1rem 2rem 0.1rem;
    border: 0;
    border-radius: 0.2rem;
    height: 2.4rem;
    background-color: rgb(227, 227, 227);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.landmark-btns:hover{
    background-color: rgb(158, 158, 158);
}

.selected{
    background-color: rgb(47, 68, 88);
    color: white;
}

.selected:hover{
    background-color: rgb(47, 68, 88);
}